<!DOCTYPE html>
<html>
  <head>
    <title>BurningAirlines</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- login & signup nav -->
    <div id='container'>


        <div class='logo'>

          <p class='heading' id='companyName'>Goodbye Forever Airlines</p>
          <br>
          <p class='heading' id='slogan'> You'll die and go to heaven</p>


          <img class='heading' id="plane" src="http://res.cloudinary.com/jamestheo/image/upload/v1499309069/burning_airplane_mnr713.png" alt="">

        </div>
    </div>
    <hr>


    <nav>
      <% unless @current_user.present? %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Signup', new_user_path %>
      <% else %>
      Welcome, <%= @current_user.name %> |
      <%= link_to 'Logout', login_path, method: :delete %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
