

<!-- <div class='logo'>

  <p class='heading' id='companyName'>Goodbye Forever Airlines</p>

  <p class='heading' id='slogan'></p>

  <img id="plane" src="http://res.cloudinary.com/jamestheo/image/upload/v1499309069/burning_airplane_mnr713.png" alt="">
</div> -->

<% if flash[:error].present? %>
<p><strong><%= flash[:error]  %></strong></p>
<% end  %>

<%= form_tag login_path do %>

<%= label_tag 'Email' %>
<%= email_field_tag :email, nil %>
<br>

<%= label_tag 'Password' %>
<%= password_field_tag :password, nil %>
<br>
<%= submit_tag 'Login' %>

<% end %>
